

header{
  h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eb9316;
  }

}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 920px;

}

ol{
  text-align: center;
  li{

  }
}